services:
  backend:
    build:
      context: ./backend
    environment:
      TEST_OPTION: ${TEST_OPTION:-default} # notest | noloadtest
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "5051:8000"
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_ARGS: "-c max_connections=2048"
    ports:
      - "6543:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d postgres -h localhost || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s
volumes:
  postgres_data:
